// Importing Bulma from node_modules
@import '~bulma/bulma.sass';
@import './card.scss';
@import './header.scss';
@import './availableIn.scss';

.wrapContent-- {
    background: url('../images/bg-header-analyticsTalks.png') no-repeat;
    background-size: cover;
    max-height: 860px;
}

.wrapGrid-- {
    top: 10rem;
}
.footer{
    top: 10rem;
}